<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"/>
        <script type="text/javascript" src="jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-app="sample" ng-controller="formController">
         <button class="btn btn-default" ng-click="getForm()" ng-hide="show_form">Get Form</button>
        <div id="form modal">
            <div class="modal-header">
            <h2 class="modal-title">{{json.form.name}}</h2>
        </div>
            <form role="form" class="pull-left modal-body">
                <div ng-repeat="field in json.form.fields" class="form-group">
                    <!--General Label-->
                    <label class="text-capitalize" id="{{field.name}}" name="{{field.name}}">{{field.label}}</label>

                    <!--Input apart from select, radio, checkbox-->
                    <input class="form-control" ng-if="field.type=='input'" ng-attr-name="field.id" type="{{field.type2}}" ng-attr-value="field.value"/>

                    <!--Select Input type-->
                    <select class="form-control" ng-if="field.type=='select'" name="{{field.name}}" id="{{field.name}}">
                        <option ng-repeat="option in field.options">{{option.value}}</option>
                    </select>

                    <!--Radio input type-->
                    <label class="form-control"  ng-if="field.type=='radio'" ng-repeat="option in field.options">
                        <input name="{{field.name}}" id="{{field.name}}" name='{{field.name}}' type="{{field.type}}" />{{" " +option.value}}
                    </label>

                    <!--checkbox input type-->
                    <label class="form-control"  ng-if="field.type=='checkbox'" ng-repeat="option in field.options">
                        <input name="{{field.name}}" id="{{field.name}}" type="{{field.type}}" />{{" " +option.value}}
                    </label>

                </div>
                <button ng-show="show_form" type='button' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-send'></span> Submit </button>
            </form>
        </div>
    </body>
</html>

